.container {
  max-height: 100vh;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #05060a;
  overflow: hidden;
}

.container .flex {
  width: 100vw;
}

.singleContainer {
  width: 60%;
}
.listContainer {
  width: 40%;
}

@media (max-width: 600px) {
  .singleContainer {
    width: 70%;
  }
  .listContainer {
    width: 30%;
  }
}
